<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rules</key>
	<array>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>String</string>
				<key>InputValue</key>
				<string>wq</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>wq.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>String</string>
				<key>InputValue</key>
				<string>ls</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>ls.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>String</string>
				<key>InputValue</key>
				<string>hello world!</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>hello_world.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>String</string>
				<key>InputValue</key>
				<string>int main(){</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>int_main.wav</string>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
