<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Easter Eggs</string>
	<key>Rules</key>
	<array>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>Regex</string>
				<key>InputValue</key>
				<string>^[0-9]*[1-9][0-9]*$</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>git_add.wav</string>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
