<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rules</key>
	<array>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>17</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>62</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>41</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>80</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>14</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>61</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>20</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>85</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>30</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>74</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>49</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>81</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>38</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>70</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>3</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>77</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>42</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>66</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>32</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>63</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>58</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>80</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>47</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>86</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>28</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>64</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>59</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>88</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>39</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>72</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>34</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>72</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>6</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>82</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>50</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>60</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>46</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>85</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>125</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>91</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>124</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>82</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>12</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>60</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>23</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>86</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>25</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>88</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>5</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>69</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>7</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>74</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>45</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>76</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>43</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>77</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>63</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>79</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>11</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>84</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>37</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>71</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>16</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>71</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>51</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>90</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>2</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>68</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>31</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>64</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>26</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>87</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>8</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>83</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>123</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>90</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>40</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>79</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>27</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>89</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>24</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>67</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>0</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>67</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>13</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>69</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>19</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>61</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>21</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>62</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>9</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>75</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>60</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>87</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>44</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>78</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>35</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>73</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>1</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>76</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>55</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>89</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>15</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>70</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>29</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>65</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>48</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>68</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>56</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>73</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>33</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>65</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>22</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>63</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>18</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>84</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>4</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>78</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>57</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>75</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>36</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>81</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>126</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>SynthesizeSound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>MIDINote</key>
					<integer>83</integer>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
