<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rules</key>
	<array>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>17</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>T.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>14</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>E.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>20</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>3.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>40</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>K.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>38</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>J.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>0</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>A.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>3</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>F.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>13</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>W.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>32</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>U.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>19</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>2.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>21</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>4.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>28</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>8.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>9</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>V.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>34</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>I.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>6</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>Z.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>46</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>M.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>35</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>P.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>1</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>S.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>12</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>Q.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>23</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>5.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>25</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>9.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>5</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>G.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>15</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>R.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>29</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>0.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>7</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>X.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>45</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>N.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>11</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>B.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>37</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>L.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>16</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>Y.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>22</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>6.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>18</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>1.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>2</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>D.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>4</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>H.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>31</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>O.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>26</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>7.wav</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Input</key>
			<dict>
				<key>InputType</key>
				<string>KeyCode</string>
				<key>InputValue</key>
				<string>8</string>
			</dict>
			<key>Output</key>
			<dict>
				<key>OutputType</key>
				<string>PlaySound</string>
				<key>OutputUserInfo</key>
				<dict>
					<key>FileName</key>
					<string>C.wav</string>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
